@import url('https://fonts.cdnfonts.com/css/cera-round-pro-demo');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url('./images/teste.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  font-family: 'Cera Round Pro DEMO', sans-serif;
  font-weight: 400;
  color: #FFF;
}

.logo{
  width: 100px;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 1rem;
}

main h1 {
  font-size: .9rem;
}

main a{
  background-color: #111;
  width: 300px;
  border-radius: 10px 0 10px 0;
  text-decoration: none;
  color: #fff;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  border: 2px solid orange;
  transition: .3s;
}

main a:hover{
  background-color: #FFF;
  color: #111;
  font-weight: 700;
}

@media (max-width: 500px) {
  main a{
    width: 250px;
    padding: 10px 0;
    font-size: .8rem;
  }
}
